.screens {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 25rem;

  .local {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-right: 1rem;

    .localVideo {
      position: absolute;
    }
  }

  .remote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: 1rem;
  }

  .mediaMessage {
    display: flex;
    width: 20rem;
    height: 11.25rem;
    justify-content: center;
    align-items: center;
    color: $red;
  }
}
